thead,tbody,tfoot,
tr,td,th,
dd,dl,dt{
	margin: 0;
	border: 0;
	padding: 0;
	
}

table {

	border: 1px solid lightblue;
	background: #ffffff;
	width: 100%;
	border-collapse:collapse;
	text-align: right;

}

table thead tr {
	background-color: #1f53c1;
	border: 1px solid lightblue;
}

table tbody tr:nth-child(even) {
	background-color: #597ac2;
	border: 1px solid lightblue;
}

table tbody tr:hover {
	background-color: rgba(150, 150, 150, 0.5);
	border: 1px solid #202020;
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: right;
	vertical-align: middle;
	border:1px solid lightblue;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table th {
	text-align: left;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-weight: bold;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
}
